*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#main{
    background-color: var(--color-suave);
    color: var(--color-fuentes);
}

:root {
    --color-fuentes: #003049; /* Azul primario */
    --color-rojo: #d62828; /* Gris secundario */
    --color-naranja: #f77f00;
    --color-intermedio: #fcbf49; /* Amarillo destacado */
    --color-suave: #eae2b7;
}

.contenedor{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
    padding-top: 2rem;
}

.contenedor h1{
    background-color: var(--color-intermedio);
    text-align: center;
    border: var(--color-naranja) 2px solid;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.formulario {
    margin: 5px;
    width: 30%;
}

.tabla {
    margin: 5px;
    width: 70%;
}

.d-flex{
    margin: 2rem;
}

.cont-btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media  screen and (max-width: 768px) {
    .contenedor{
        flex-direction: column;
        gap: 2rem;
    }
    .formulario {
        width: 100%;
    }
    .tabla {
        width: 100%;
    }    
}